* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
}

nav {
	box-shadow: 0 2px 2px 0 #c7a32a, 0 3px 1px -2px #c7a32a, 0 1px 5px 0 #c7a32a !important;
}

nav ul a {
	color: #c7a32a !important;
}

.navbar-fixed {
	position: absolute !important;
}

.nav-wrapper .material-icons {
	color: #c7a32a !important;
}

.sidenav {
	padding-top: 30px;
}

.sidenav li>a {
	color: #c7a32a !important;
	text-align: center !important;
}

.arrow-upward {
	padding-right: 20px !important;
}

#landing,
#ceremony,
#registry {
	background-image: url("img/paper.png");
	background-size: cover;
}

.fullpage {
	min-height: 100vh;
}

#landing img {
	height: 20vh;
}

#landing h1,
h2 {
	font-family: 'Tangerine', cursive;
	text-align: center;
	margin: 0 auto;
}

#landing .btn-flat,
#rsvp .btn-flat,
#ceremony .btn-flat {
	margin: 5vh auto 10vh auto;
	padding: 0 8vh;
	border: 1px solid #c7a32a;
	color: #c7a32a;
}

#rsvp .btn-flat {
	margin: 5vh auto;
}


.container {
	padding-top: 100px;
	padding-bottom: 50px;
}

#rsvp h2,
#ceremony h2,
#reception h2,
#attire h2,
#registry h2,
#faq h2 {
	color: #c7a32a;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label {
	color: #c7a32a !important;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=password]:focus {
	border-bottom: 1px solid #c7a32a !important;
	box-shadow: 0 1px 0 0 #c7a32a !important;
}

.dropdown-content li>span {
	color: #000 !important;
}

.image-full,
iframe {
	width: 100%;
	border-radius: 10px;
	margin: 5vh auto;
}

#reception {
	background-image: url("img/vintage-concrete.png");
}